<div class="section-container">

<div class="tabs">

<div class="tab active">Students</div>

</div>

<div class="students">

<div class="summaryBox">

<div class="student-title">Summary</div>

<div class="student-summary"><%= @students.count %> Students</div>

<div class="student-summary"><%= @paymentCount %> Payments</div>

<div class="student-summary"><%= currency(@total) %></div>

</div>

<% @students.each do |student| %>

<div class="student">

<div class="student-title"><%= student.full_name %></div>

</div>

<% end %>

</div>

</div>
