<div class="tabs">

<div class="tab" id="studentsTab"><%= link_to 'Add students', new_student_path(:multiple_create => "true"), remote: true %></div>

<div class="tab" id="incomeTab"><%= link_to 'Add income', new_income_path(:multiple_create => "true"), remote: true %></div>

<div class="tab" id="expensesTab"><%= link_to 'Add expenses', new_expense_path(:multiple_create => "true"), remote: true %></div>

</div>