<% provide(:title, "Save new income") %>

<div class="section-container">

<div class="tabs">

<div class="tab active">Add Income</div>

<div class="tab">Sale of Asset</div>

</div>

<%= render 'form' %>

</div>
