<% provide(:title, 'Payment History') %>

<div class="section-container">

<div class="form-section">

<h2>Payment history</h2>

<% @payments.payment_history.each do |p| %>

<%= Time.at(p['date']).strftime("%m/%d/%Y - %T")%>

<%= p['amount'] %>

<% end %>

</div>

</div>