<% provide(:title, 'Payment History') %>

<div class="section-container">

<div class="form-section">

<h2>Payment history</h2>

<table class="payment_history">

<th>
<tr>Payment date</tr>
<tr>Amount</tr>
</th>

<% @payments.payment_history.each do |p| %>

<tr>

<td><%= Time.at(p['date']).strftime("%m/%d/%Y")%></td>

<td><%= currency(p['amount']) %></td>

</tr>

<% end %>

</table>

</div>

</div>