/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #E3E1D6;
  background-position: 50% 30px;
  background-repeat: no-repeat;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

#holder{
    min-height: 100%;
    position:relative;
}

h1, h2, h3 {
color: #1b2a49;
}

/* line 10, ../../app/assets/stylesheets/scaffolds.css.scss */
.body-container {
  width: 100%;
  min-width: 1080px !important;
  position: absolute;
  min-height: 100%;
  padding-top: 188px;
  padding-bottom: 140px;
}

/* line 15, ../../app/assets/stylesheets/scaffolds.css.scss */
.main-container {
  width: 1024px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: none;
}

/* line 25, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 31, ../../app/assets/stylesheets/scaffolds.css.scss */
h1 {
  margin: 0px;
  font-size: 16px;
  color: #37404e;
  margin-left: 10px;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
li {
  display: inline-block;
}

/* line 42, ../../app/assets/stylesheets/scaffolds.css.scss */
ul {
  padding: 0px;
}

/* line 46, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 52, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 57, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
}

/* line 63, ../../app/assets/stylesheets/scaffolds.css.scss */
div, input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
}
/* line 66, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions, input.field, input.actions {
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  width: 984px;
  margin-left: 0px;
  margin-right: 0px;
  background: none;
  position: relative;
}
/* line 75, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field.notes, div.actions.notes, input.field.notes, input.actions.notes {
  height: 60px;
}
/* line 78, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field input, div.actions input, input.field input, input.actions input {
  width: 250px;
  line-height: 20px;
  font-size: 16px;
  color: #37404e;
  margin: 7px;
  display: none;
    -webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(187, 187, 187);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(187, 187, 187);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(187, 187, 187);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(153, 153, 153);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
color: rgb(0, 0, 0);
cursor: auto;
display: inline-block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
height: 30px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 5px;
margin-top: 0px;
padding-bottom: 6px;
padding-left: 7px;
padding-right: 7px;
padding-top: 6px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
width: 200px;
word-spacing: 0px;
writing-mode: lr-tb;
}
/* line 84, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field input.currency, div.actions input.currency, input.field input.currency, input.actions, input.currency {
  width: 130px !important;
}

input.small {
  width: 130px !important;
}

input.large {
  width: 340px !important;
}

input.extra_large {
  width: 540px !important;
}

/* line 91, ../../app/assets/stylesheets/scaffolds.css.scss */
.form-section {
margin: 40px 40px 0 40px;
    input[type="text"], input[type="password"] {
    display: none;
    -webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(187, 187, 187);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(187, 187, 187);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(187, 187, 187);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(153, 153, 153);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
color: rgb(0, 0, 0);
cursor: auto;
display: inline-block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
height: 30px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 5px;
margin-top: 0px;
padding-bottom: 6px;
padding-left: 7px;
padding-right: 7px;
padding-top: 6px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
width: 200px;
word-spacing: 0px;
writing-mode: lr-tb;
    &.small_field {
    width: 130px;
    }
    &.number_field {
    width: 65px;
    }
    }
}

/* line 98, ../../app/assets/stylesheets/scaffolds.css.scss */
.note {
  position: absolute;
  bottom: 0px;
  left: 307px;
  height: 20px;
  line-height: 20px;
  width: auto;
  background: none;
  font-size: 12px;
}

/* line 109, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 119, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 940px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px 40px 20px 40px;
  box-sizing: border-box !important;
  background-color: #FFBABA;
}
/* line 126, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 136, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 142, ../../app/assets/stylesheets/scaffolds.css.scss */
label.inline {
  float: left;
  padding: 2px 20px 0 0;
  display: block;
  width: 270px;
  line-height: 28px;
  text-align: left;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(85, 85, 85);
}
/* line 148, ../../app/assets/stylesheets/scaffolds.css.scss */
label.inline.hidden {
  font-size: 0px;
}

/* line 153, ../../app/assets/stylesheets/scaffolds.css.scss */

/* line 157, ../../app/assets/stylesheets/scaffolds.css.scss */
.blue-bar-top {
  width: 100%;
  min-width: 1080px !important;
  height: 60px;
  padding: 0px;
  background: #293f6e;
  border-bottom: 2px solid #1B2A49;
  position: absolute;
  top: 0px;
  z-index: 10000;
-webkit-box-shadow: 0px 6px 7px rgba(50, 50, 50, 0.8);
-moz-box-shadow:    0px 6px 7px rgba(50, 50, 50, 0.8);
box-shadow:         0px 6px 7px rgba(50, 50, 50, 0.8);
}

.nav-bar-top {
  width: 100%;
  height: 60px;
  padding: 0px;
  background: #293f6e;
  border-top: 1px solid white;
  border-bottom: 2px solid #1B2A49;
  position: absolute;
  top: 58px;
  left: 0px;
  z-index: 10000;
-webkit-box-shadow: 0px 6px 7px rgba(50, 50, 50, 0.8);
-moz-box-shadow:    0px 6px 7px rgba(50, 50, 50, 0.8);
box-shadow:         0px 6px 7px rgba(50, 50, 50, 0.8);
}

/* line 166, ../../app/assets/stylesheets/scaffolds.css.scss */
.blue-bar-top a, .nav-bar-top a {
  color: white;
}

/* line 171, ../../app/assets/stylesheets/scaffolds.css.scss */
.top-bar-container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  line-height: 50px;
}

/* line 178, ../../app/assets/stylesheets/scaffolds.css.scss */
.section-container {
  width: 100%;
  min-height: 300px;
  background: white;
  border: 2px solid #b3b3b3;
  border-radius: 0 5px 5px 5px;
  position: relative;
  h2 {
    color: rgb(51, 51, 51);
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin: 0 0 20px 0;
    font-weight: bold;
    position: relative;
        &:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 940px;
        border-bottom: 1px solid #b3b3b3;
        }
  }
  .tabs {
  position: absolute;
  top: -40px;
  left: -2px;
  height: 40px;
  width: 100%;
  background: none;
    .tab {
    height: 100%;
    display: inline-block;
    width: 200px;
    background: white;
    border: 2px solid #b3b3b3;
    border-radius: 5px 5px 0 0;
    padding: 0 20px 0 20px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
        &.active {
        border-bottom: none;
        }
    }
  }
}

.logo {
float: left;
height: 33px;
width: 249px;
background-image: url('logo.png');
}

.home-header {
background-image: url('laptop.png');
background-position: 50% -60px;
width: 100%;
min-height: 430px;
margin-bottom: -20px;
margin-top: -95px;
}

.home-tag {
border-top: 2px solid #9f9592;
border-bottom: 2px solid #9f9592;
width: 100%;
margin-bottom: 10px;
position: relative;
    h1 {
    color: 1b2a49;
    line-height: 50px;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    text-indent: 50px;
    }
}

.sticker {
position: absolute;
right: 50px;
top: -140px;
width: 220px;
height: 220px;
background-image: url('sticker.png');
z-index: 10;
}

.telephone {
float: left;
background-image: url('tele.png');
background-repeat: no-repeat;
background-position: 0% 10%;
width: 240px;
height: 50px;
margin-left: 140px;
text-align: left;
line-height: 32px;
color: white;
font-size: 20px;
padding-left: 42px;
}

.home {
position: relative;
width: 100%;
height: 300px;
}

.home-form {
width: 460px;
height: 300px;
background: none;
background-image: url('form.png');
background-repeat: no-repeat;
margin-left: 50px;
position: absolute;
padding: 30px 25px 30px 25px;
left: 0px;
    .stamp {
    position: absolute;
    right: 50px;
    top: 10px;
    background-image: url('stamp.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    }
    .title {
    width: 250px;
    font-size: 24px;
    line-height: 30px;
    text-weight: 200px;
    margin-bottom: 20px;
    }
    span {
    display: inline-block;
    margin-left: 20px;
    }
}

.larger {
width: 410px !important;
}

.why {
width: 460px;
height: 300px;
background: none;
background-image: url('form.png');
background-repeat: no-repeat;
margin-left: 50px;
position: absolute;
right: 50px;
padding: 30px 25px 30px 25px;
    .title {
    width: 250px;
    font-size: 24px;
    line-height: 30px;
    text-weight: 200px;
    margin-bottom: -15px !important;
    }
}

ul.why-list li {
line-height: 30px;
background-image: url(point2.png);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: -0px; 
display: block;
    span {
    padding-left: 30px;
    }
}

.how {
width:920px;
height: 260px;
background-image: url(how-it-works.png);
margin: 0 50px 0 50px;
}

/* line 185, ../../app/assets/stylesheets/scaffolds.css.scss */
.section-header {
}

.checklist_item {
margin: 20px;
line-height: 40px;
border: 1px solid black;
position: relative;
}

.checklist_step {
position: absolute;
left: 0px;
top: 0px;
width: 40px;
border-right: 1px solid black;
text-align: center;
}

.checklist_complete {
position: absolute;
right: 0px;
top: 0px;
width: 120px;
border-left: 1px solid black;
height: 40px;
padding: 0px;
    input[type="checkbox"] {
    margin: 14px !important;
    }
}

.checklist_description {
margin-left: 60px;
width: 400px;
}

.signup_progress_container {
height: 100px;
margin-bottom: 40px;
width: 100%;
background: white;
border: 1px solid #b3b3b3;
position: relative;
}

.signup_step {
float: left;
width: 25%;
height: 100%;
line-height: 100px;
text-align: center;
border-right: 1px solid #b3b3b3;
position: relative;
    &:last-child {
    border-right: 0px;
    }
    &.active {
    background: #d2eded;
    }
    &.active:after {
    position: absolute;
    bottom: -20px;
    left: 40px;
    content: "";
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid #d2eded;
    }
    &.active:before {
    position: absolute;
    bottom: -21px;
    left: 39px;
    content: "";
	width: 0; 
	height: 0; 
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid #b3b3b3;
    }
}

.actionContainer {
width: 100%;
height: 50px;
border: 1px solid #b3b3b3;
margin: 40px 0 0 0;
background: #d2eded;
padding: 12.5px;
    input[type="submit"] {
    float: right;
    font-size: 16px;
    }
}

.highlight {
position: relative;
width: 100%;
line-height: 40px;
text-align: center;
background: #d2eded;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
 
#modal {
  display: none;
  position: absolute;
  padding: 10px;
-webkit-box-shadow: rgba(14, 41, 57, 0.117647) 0px 0px 0px 1px, rgba(14, 41, 57, 0.439216) 0px 2px 5px 0px, rgba(14, 41, 57, 0.14902) 0px -1px 2px 0px inset;
background-color: white;
background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 246, 249));
border-radius: 6px;
box-shadow: rgba(14, 41, 57, 0.117647) 0px 0px 0px 1px, rgba(14, 41, 57, 0.439216) 0px 2px 5px 0px, rgba(14, 41, 57, 0.14902) 0px -1px 2px 0px inset;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
height:auto;
width: 1020px;
z-index: 10000000000000;
 
  & > .close {
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }
}

.signin {
width: 280px !important;
}

i {
text-decoration: none !important;
}

h1.modalHeader {
line-height: 55px;
width: 100%;
text-align: center;
margin: 0px;
padding: 0px;
color: rgb(69, 91, 103);
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 16px;
border-bottom: 1px solid #b3b3b3;
margin-bottom: 20px;
}

h3.modalFooter {
line-height: 30px;
width: 100%;
text-align: center;
margin: 0px;
padding: 0px;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 13px;
color: rgb(69, 91, 103);
border: 1px solid #b3b3b3;
margin-top: 20px;
margin-bottom: 10px;
border-radius: 5px;
}

div.loginField {
width: 100%;
height: 50px;

    input[type="submit"] {
    -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
-webkit-font-smoothing: antialiased;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: linear-gradient(rgb(60,185,102), rgb(39,169,91) 85%, rgb(19,107,74));
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
height: 46px !important;
letter-spacing: normal;
line-height: 14px;
padding: 0px;
text-align: center;
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.529412) 0px 1px 1px;
text-transform: none;
width: 200px;
word-spacing: 0px;
    }

    input[type="text"], input[type="password"] {
    width: 100%;
    -webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(187, 187, 187);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(187, 187, 187);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(187, 187, 187);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(153, 153, 153);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.180392) 0px 1px 2px 0px inset;
color: rgb(0, 0, 0);
cursor: auto;
display: inline-block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px !important;
padding-left: 12px;
padding-right: 12px;
padding-top: 10px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
word-spacing: 0px;
writing-mode: lr-tb;
    }
}

.previous_accountant_address {
display: none;
}

input[type="submit"] {
    -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
-webkit-font-smoothing: antialiased;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: linear-gradient(rgb(60,185,102), rgb(39,169,91) 85%, rgb(19,107,74));


background-image: -webkit-linear-gradient(top, 
rgb(60,185,102), 
rgb(39,169,91) 85%, 
rgb(19,107,74));



background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
height: 38px !important;
letter-spacing: normal;
line-height: 14px;
margin-bottom: 40px;
padding: 0px;
text-align: center;
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.529412) 0px 1px 1px;
text-transform: none;
width: 200px;
word-spacing: 0px;
    }
    
  h2 {
    color: rgb(51, 51, 51);
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin: 0 0 20px 0;
    font-weight: bold;
    position: relative;
        &:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 940px;
        border-bottom: 1px solid #b3b3b3;
        }
  }
  
  .optional label, .optional {
  color: #9999a2 !important;
    span {
    font-size: 12px;
    }
  }
  .close {
  text-align: center !important;
  margin: -30px 0 20px 0 !important;
  text-decoration: underline;
  cursor: pointer;
  }

  input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus, select:focus {
  outline: 0px solid #38b664 !important;
  box-shadow: 0px 0px 2pt 1pt #38b664;
  }
  
  table.payment_history {
  width: 100%;
  border: 1px solid #b3b3b3;
  margin-bottom: 40px;
    th, td {
    text-align: left;
    padding-left: 10px;
    line-height: 30px;
    }
    th {
    border-bottom: 1px solid #b3b3b3;
    }
  }
  
  .selectable {
  min-width: 190px;
  }
  input[type="submit"].p100 {
  width: 100% !important;
  }
  
  select {
  min-width: 190px;
  max-width: 190px;
    &.medium {
    min-width: 100px;
    max-width: 100px;
    }
    &.short {
  min-width: 60px;
  max-width: 60px;
  }
  }
  
  .drop-menu {
  background: red;
  position: absolute;
  top: 56px;
  right: 0px;
  z-index: 10000000000;
  -webkit-animation-delay: 0s;
-webkit-animation-direction: normal;
-webkit-animation-duration: 0.2s;
-webkit-animation-fill-mode: none;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: gb__a;
-webkit-animation-timing-function: ease;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0.2);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.2);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.2);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.2);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
display: none;
font-family: Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: normal;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-align: left;
white-space: nowrap;
width: 200px;
line-height: 30px;
  }

  .hidden {
  
  display: none;
  
  }

  div.incomes, div.expenses, div.students {
    width: 100%;
    border: 0px solid #b3b3b3; 
        .income_row, .expense_row, .student_row {
        width: 100%;
        border: 1px solid #b3b3b3;
        padding: 7px 10px 7px 10px;
        margin: 0 0 10px 0;
        }
        .income_field, .expense_field, .student_field {
        display: inline;
        }
  }
  
  i.large {
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  }
  
  .total {
  margin-top: 40px !important;
  }
  
  .total-right {
  width: 220px;
  float: right;
  }
  
  select.large {
  min-width: 390px;
  max-width: 390px;
  }
  
  .footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  background: #293f6e;
  margin: 0;
  }
  
  .inner-container {
  height: 100%;
  width: 100%;
  min-width: 1080px !important;
  position: absolute;
    .main-container {
    position: relative;
    height: 100%;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    }
  }
  
  .contact-info {
  height: 100%;
  width: 460px;
  color: white;
  padding: 30px 20px 30px 0px;
  line-height: 30px;
  font-size: 16px;
  }
  
  .AH-logo {
  height: 50px;
  width: 100px;
  position: absolute;
  top: 30px;
  left: 440px;
  background-image: url(AH-logo.png);
  }
  
  .social-links {
  position: absolute;
  right: 0px;
  top: 30px;
  height: 60px;
  width: 460px;
  line-height: 30px;
  color: white;
  line-height: 30px;
  font-size: 16px;
  text-align: right;
    a {
    color: white;
    font-size: 16px;  
    }
  }
  
  input.required, select.required {
  background: lighten(#8acfd0,25) !important;
  border: 2px solid #8acfd0 !important;
  }
  
  
  
  