<div class="footer-container">
<div class="inner-container">
<div class="main-container">
<div class="contact-info">
Contact Us:<br />
0845 123 456 | info@accounthero.com
</div>
<div class="AH-logo">
</div>
</div>
</div>
</div>
