<div class="footer-container">
<div class="inner-container">
<div class="main-container">
<div class="contact-info">
Contact Us:<br />
0845 123 456 | info@accounthero.com
</div>
<div class="AH-logo">
</div>
<div class="social-links">
<a href="http://www.facebook.com/accounthero">http://www.facebook.com/accounthero</a>
<a href="http://www.twitter.com/accounthero">http://www.twitter.com/accounthero</a>
</div>
</div>
</div>
</div>
